@charset "utf-8";

body {
	margin: 0 auto;
	background-color: #73b7f4;
}

.wrap {
	margin: 0 auto;
	display: flex; /* Canh giữa bằng flex */
	justify-content: center;
	align-items: center;
	margin-top: 9%;
}

form {
	font-family: sans-serif;
	width: 600px;
	height: 480px;
	background-color: #fbfbfb;
	display: block;
	padding-left: 20px;
	border: 4px solid #97c9f7;
	background: #f7f7f7;
}

form div {
	margin-top: 10px;
	margin-left: 15px;
}

form div div label {
	font-size: 25px;
}

form div div input {
	font-size: 16px;
}

form input {
	border-radius: 4px;
	margin: 0px 0px 10px 0px;
	width: 500px;
	height: 40px;
	background-color: #ffff;
	border: 1px solid blue;
	font-size: 20px;
}

form input:hover {
	border: 1px solid blue;
}

#submit {
	border-radius: 4px;
	margin-top: 15px;
	margin-left: 12px;
	width: 500px;
	height: 48px;
	cursor: pointer;
	background-color: #3988c8;
	border-color: #2e6da4;
	border: 1px solid transparent;
	color: white;
}

#submit:hover {
	background-color: #2e6da4;
}

form p {
	color: #6c6cff;
	font-size: 30px;
	text-align: center;
	margin-top: 10px;
}

form label {
	font-weight: 500;
	font-size: 13px;
}

#error {
	margin-left: 12px;
	color: #e60000;
	font-size: 15px;
	text-align: left;
	font-style: italic;
}