<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>list posts</title>
<!-- Bootstrap -->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/user/ForgotPassword.css">

</head>
<body style="margin-left: 30px">
	<div class="wrap">
		<form th:action="@{/user/forgotPassword}" method="get">
			<p>Nhập tên đăng nhập để xác thực</p>

			<div class="form-group">
				<input name="username" type="text" placeholder="Tên đăng nhập"><br>
				<p id="error" th:text="${error}"></p>
				<input id="submit" type="submit">
			</div>
		</form>
	</div>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>
</html>